<template>
  <div class="home">
    <h1>Просмотр формы</h1>
    <FormView />
  </div>
</template>

<script>
// @ is an alias to /src
import FormView from "@/components/FormView.vue";

export default {
  name: "Home",
  components: {
    FormView
  }
};
</script>
