<template>
  <div class="home">
    <h1>Редактирование формы</h1>
    <FormCreate />
  </div>
</template>

<script>
// @ is an alias to /src
import FormCreate from "@/components/FormCreate.vue";

export default {
  name: "Home",
  components: {
    FormCreate
  }
};
</script>
