<template>
  <div>
    <div class="question" v-for="question in questions" :key="question.id">
      <div v-if="question.type == 'text'">
        <div>{{ question.question }}</div>
      </div>
      <div v-if="question.type == 'input-text'">
        <div>{{ question.question }}</div>
        <input type="text" v-on:change="setAnswer($event, question)" />
      </div>
      <div v-if="question.type == 'input-select'">
        <div>{{ question.question }}</div>
        <select v-on:change="setAnswer($event, question)">
          <option value=""></option>
          <option v-for="variant in question.variants" :key="variant" :value="variant">{{variant}}</option>
        </select>
      </div>
      <div v-if="question.type == 'input-radio'">
        <div>{{ question.question }}</div>
        <span v-for="variant in question.variants" :key="variant">
          <label>{{ variant }}</label>
          <input type="radio" name="variant" :value="variant" v-on:change="setAnswer($event, question)" />
        </span>
      </div>
      <div v-if="question.type == 'continue'">
        <div v-on:click="sendForm">Завершить</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FormView",
  data: function() {
    return {
      questions: [],
      answers: []
    };
  },
  methods: {
    sendForm: function() {
      alert("Проверьте консоль!");
      console.log(this.answers);
    },
    // устанавливаем значение текущего ответа и пересчитываем вопросы
    setAnswer(event, element) {
      let value = event.target.value;
      let answer = this.answers.find(answer => {
        return answer.id == element.id;
      });
      if (typeof answer == "undefined") {
        this.answers.push({
          id: element.id,
          value: value
        });
      } else {
        answer.value = value;
      }
      this.reloadQuestions();
    },

    getQuestions: function(questions, element) {
      // все варианты следующих шагов
      let variants = [];
      element.variants.forEach(data => {
        if (data.variant != '*') {
          variants.push(data.variant);
        }
      });

      questions.push({
        id: element.id,
        type: element.type,
        question: element.question,
        variants: variants
      });

      // если нет подзапросов, выводи кнопку сохранения ответов
      if (element.variants.length == 0) {
        questions.push({
          id: "continue",
          type: "continue"
        });
        return questions;
      }

      // если у нас всего 1 вариант следующий и он идёт при любом ответе в текущем
      // добавляем его в вопросы сразу
      if (element.variants.length == 1 && element.variants[0].variant == "*") {
        questions = this.getQuestions(questions, element.variants[0]);
        return questions;
      }
      // если у нас текущий вопрос имеет ответ и вариант ответа соответствует хотя бы одному варинату вопроса
      let answer = this.answers.find(answer => {
        return answer.id == element.id;
      });

      if (typeof answer != "undefined") {
        // ищем текущее выбранное значение для текущего вопроса
        let checkedVariant = element.variants.find(variant => {
          answer.value = answer.value.replace('*', '\\*');
          let regular = new RegExp("^" + answer.value + "$", "i");
          return regular.test(variant.variant);
        });
        // если нашли, выводим его подвопрос
        // если не нашли, пытаемся найти "*" для универсального значения
        if (typeof checkedVariant != "undefined") {
          questions = this.getQuestions(questions, checkedVariant);
          return questions;
        } else {
          let universalVariant = element.variants.find(variant => {
            return variant.variant == "*";
          });
          if (typeof universalVariant != "undefined") {
            questions = this.getQuestions(questions, universalVariant);
            return questions;
          }
        }
      }

      return questions;
    },
    reloadQuestions: function() {
      let formData = this.$store.state.form[0];
      this.questions = [];
      this.questions = this.getQuestions([], formData);
    }
  },

  mounted() {
    this.reloadQuestions();
  }
};
</script>

<style scoped lang="scss">
.question {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}
</style>
