<template>
  <div>
    <button v-on:click="formSave">Сохранить</button>
    <FormCreateTree
      :variants="form"
      :start="true"
      @addVariant="addVariant"
      @changeVariant="changeVariant"
      @deleteVariant="deleteVariant"
    />
  </div>
</template>

<script>
import FormCreateTree from "./FormCreateTree";
export default {
  name: "FormCreate",
  components: { FormCreateTree },
  data: function() {
    return {
      form: []
    };
  },
  methods: {
    addVariant: function(variantId, condition, variants) {
      // признак первого уровня
      let first = false;
      // если варианты не заданы, берем форму
      if (typeof variants == "undefined") {
        variants = this.form;
        first = true;
      }
      // проходимся по вариантам и вызываем рекурсию удалления
      for (var i in variants) {
        // если добавляем к текущему, то добавляем.
        if (variants[i].id == variantId) {
          variants[i].variants.push({
            id: new Date().getTime(),
            type: "input-text",
            question: "Введите текст вопроса",
            variants: [],
            variant: condition
          });
          // сортируем, что бы вопрос с любым условием был всегда в конце
          variants[i].variants.sort((a, b) => {
            if (a.variant == "*") {
              return 1;
            }
            if (b.variant == "*") {
              return -1;
            }
          });
        }
        variants[i].variants = this.addVariant(
          variantId,
          condition,
          variants[i].variants
        );
      }
      // если мы были на первом уровне, то присваиваем форме значение
      // иначе возвращаем список вариантов
      if (first) {
        this.form = variants;
        this.$emit('drawLines');
      } else {
        return variants;
      }
    },
    changeVariant: function(variant, variants){
      // признак первого уровня
      let first = false;
      // если варианты не заданы, берем форму
      if (typeof variants == "undefined") {
        variants = this.form;
        first = true;
      }
      // проходимся по вариантам и вызываем рекурсию удалления
      for (var i in variants) {
        // если добавляем к текущему, то добавляем.
        if (variants[i].id == variant.id) {
          variants[i] = variant;
        }
        variants[i].variants = this.changeVariant(
            variant,
            variants[i].variants
        );
      }

      // если мы были на первом уровне, то присваиваем форме значение
      // иначе возвращаем список вариантов
      if (first) {
        this.form = variants;
        this.$emit('drawLines');
      } else {
        return variants;
      }
    },
    deleteVariant: function(variantId, variants) {
      // признак первого уровня
      let first = false;
      // если варианты не заданы, берем форму
      if (typeof variants == "undefined") {
        variants = this.form;
        first = true;
      }
      // фильтруем варианты, что бы удалить ненужные, если он там есть
      variants = variants.filter(variant => {
        return variant.id != variantId;
      });
      // проходимся по вариантам и вызываем рекурсию удалления
      for (var i in variants) {
        variants[i].variants = this.deleteVariant(
          variantId,
          variants[i].variants
        );
      }
      // если мы были на первом уровне, то присваиваем форме значение
      // иначе возвращаем список вариантов
      if (first) {
        this.form = variants;
        this.$emit('drawLines');
      } else {
        return variants;
      }
    },
    findVariant: function(variants, variantId) {
      console.log(variants, variantId);
      return false;
    },
    formSave(){
      this.$store.commit('updateForm', this.form);
    },
  },
  mounted() {
    this.form = JSON.parse(JSON.stringify(this.$store.state.form));
  }
};
</script>

<style scoped lang="scss"></style>
