<template>
  <div class="variants-tree">
    <span v-if="start" class="start">Старт</span>
    <div class="arrow mini">
      <svg xmlns="http://www.w3.org/2000/svg">
        <line x1="50%" x2="50%" y1="0" y2="100%" stroke="black" />
        <line ref="line" x1="50%" x2="50%" y1="100%" y2="100%" stroke="black" stroke-width="2" />
      </svg>
    </div>
    <div class="variants" ref="variants">
      <div class="variant" v-for="variant in variants" :key="variant.id">
        <div v-if="variant.variant == '*'" class="arrow">
          <svg xmlns="http://www.w3.org/2000/svg">
            <line x1="50%" x2="50%" y1="0" y2="100%" stroke="black" />
          </svg>
        </div>
        <div v-else class="arrow">
          <svg xmlns="http://www.w3.org/2000/svg">
            <line x1="50%" x2="50%" y1="0" y2="100%" stroke="black" />
          </svg>
          <div class="condition">
            <input
              type="text"
              :value="variant.variant"
              v-on:change="
                changeVariantCondition(variant.id, $event.target.value)
              "
            />
          </div>
        </div>
        <div class="holder">
          <div class="type">
            <select
              v-on:change="changeVariantType(variant.id, $event.target.value)"
            >
              <option :selected="variant.type == 'text'" value="text"
                >Текстовое поле</option
              >
              <option
                :selected="variant.type == 'input-text'"
                value="input-text"
                >Поле ввода</option
              >
              <option
                :selected="variant.type == 'input-radio'"
                value="input-radio"
                >Выбор точками</option
              >
              <option
                :selected="variant.type == 'input-select'"
                value="input-select"
                >Выбор выпадающий</option
              >
            </select>
          </div>
          <div class="question">
            <textarea
              v-on:change="
                changeVariantQuestion(variant.id, $event.target.value)
              "
              v-html="variant.question"
            ></textarea>
          </div>
          <div class="buttons">
            <button v-on:click="addVariant(variant.id, 'условие?')">
              Добавить условие
            </button>
            <button
              v-on:click="addVariant(variant.id, '*')"
              v-if="checkButtonAdd(variant)"
            >
              Добавить вопрос
            </button>
            <button
              v-on:click="deleteVariant(variant.id)"
              v-if="checkButtonDelete()"
            >
              Удалить вопрос
            </button>
          </div>
        </div>

        <FormCreateTree
          :variants="variant.variants"
          :start="false"
          @addVariant="addVariant"
          @changeVariant="changeVariant"
          @deleteVariant="deleteVariant"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FormCreateTree",
  props: ["variants", "start"],
  data: function() {
    return {};
  },
  methods: {
    checkButtonDelete: function() {
      return !this.start;
    },
    checkButtonAdd: function(variant) {
      let variantsCount = variant.variants.length;
      if (variantsCount) {
        if (variant.variants[variantsCount - 1].variant != "*") {
          return true;
        } else {
          return false;
        }
      }
      return true;
    },
    changeVariantType: function(variantId, value) {
      let variant = this.variants.find(variant => {
        return variant.id == variantId;
      });
      variant.type = value;
      this.changeVariant(variant);
    },
    changeVariantCondition: function(variantId, value) {
      let variant = this.variants.find(variant => {
        return variant.id == variantId;
      });
      variant.variant = value;
      this.changeVariant(variant);
    },
    changeVariantQuestion: function(variantId, value) {
      let variant = this.variants.find(variant => {
        return variant.id == variantId;
      });
      variant.question = value;
      this.changeVariant(variant);
    },
    changeVariant: function(variant) {
      this.$emit("changeVariant", variant);
    },
    addVariant: function(variantId, condition) {
      this.$emit("addVariant", variantId, condition);
    },
    deleteVariant: function(variantId) {
      this.$emit("deleteVariant", variantId);
    },
    drawLines() {
      let line = this.$refs.line;
      let variantsNode = this.$refs.variants;
      let variants = variantsNode.childNodes;

      if (variants.length) {

        let x1 = variants[0].offsetWidth / 2;
        let x2 = variantsNode.offsetWidth - variants[variants.length - 1].offsetWidth / 2;

        line.setAttribute('x1', x1 + 'px')
        line.setAttribute('x2', x2 + 'px')
      }
      this.$emit('drawLines');
    },
  },
  mounted() {
    this.$parent.$on('drawLines', ()=>{
      setTimeout(()=>{this.drawLines()})
    });
    this.$emit('drawLines');
  }
};
</script>

<style scoped lang="scss">
.variants-tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .arrow {
    min-height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.mini {
      min-height: 10px;
    }

    svg {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
    }

    .condition {
      z-index: 100;
      input {
        width: 100px;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid black;
        text-align: center;
      }
    }
  }
  .start {
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
  }
  .variants {
    display: flex;
    justify-content: center;
    .variants-arrow {
      background-color: red;
      /*width: 100%;*/

    }
    .variant {
      display: flex;
      flex-direction: column;
      align-items: center;
      /*margin: 0px 10px;*/
      padding: 0px 10px;
      .holder {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        max-width: 500px;
        .question {
          min-width: 250px;
          textarea {
            width: 100%;
            padding: 0px;
            margin: 0px;
            resize: none;
          }
        }
        .buttons {
          justify-content: center;
          display: flex;
          flex-wrap: nowrap;
          font-size: 8px;
        }
      }
    }
  }
}
</style>
